.service_container {
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.service_content {
    width: 85%;
    margin: 100px 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service_btns {
    background-color: #0b0b45;
    border: solid 1px white;
    color: white;

    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9px;
}
