/* GLOBAL */
.active-nav {
    /* border-bottom: solid 1px rgb(0, 162, 255); */
    color: rgb(0, 162, 255);
}

/* Bebas Neue - Bold
    Herr Von Muellerhoff, Mr Dafoe - carly
*/


.header-container {
    z-index: 11111;
    position: sticky;
    top: 0px;
    /* height: 120px; */
    overflow: hidden;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header-container-bg {
    background-color: white;
    color: black;
}

.header-content {
    width: 85%;
    margin: 20px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;

}

.nav-open-btn,
.nav-close-btn {
    display: none;
    cursor: pointer;
}

.header-social {
    display: none;
    width: 70%;
    position: relative;
    bottom: -200px;
}

@media screen and (max-width:686px) {
    .header-container {
        height: 80px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;

        position: fixed;
        top: 0px;
        right: 0px;

        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.9);

        width: 70%;
        height: 110vh;

        /* transition: all 5s; */
    }

    .nav-links-active {
        display: flex;
    }

    .nav-links a {
        color: white;
    }

    .nav-open-btn {
        display: block;
    }

    .nav-close-btn {
        display: flex;
        color: white;
    }

    .header-social {
        display: flex;
    }

    .active-nav {
        /* border-bottom: solid 1px rgb(0, 162, 255); */
        color: rgb(0, 162, 255);
    }
}

.nav-links a {
    text-decoration: none;
    margin: 5px 14px;
    font-size: 16px;
    font: Hind Siliguri;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a:hover {
    /* border-bottom: solid 1px rgb(0, 162, 255); */
    color: rgb(0, 162, 255);
}