.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #030316;
    padding-top: 120px;
    padding-bottom: 90px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 85%;
}

.footer-card-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: start;
    justify-content: center;

}

@media screen and (max-width : 686px) {
    .footer-card-content{
        flex-direction: column;
    }
    .footer-card-group{
        margin-top: 70px;
    }


    
}

.footer-card-content-socials{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;

    justify-content: center;
    align-items: center;

}
.footer-card-content-singleLink{

    margin: 0px 0px;
}
.footer-card-content-socials a img{
    width: 30px;
}


.footer-card-content-singleLink a{
    text-decoration: none;
    color: grey;
}


.footer-card-content-links-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 8px;
    justify-content: start;
    align-items: center;
}