/* Bebas Neue - Bold
    Herr Von Muellerhoff, Mr Dafoe - carly
*/


/* .App {
  background: url('./assets/mat-napo-ejWJ3a92FEs-unsplash.jpg');
  background-position: initial;
  background-size: 100% 850px;
  background-repeat: no-repeat;

}

@media screen and (max-width:686px) {
  .App {
    background-size: 200% 1070px;
  }
} */

/* GLOBAL  */

._container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 100px 0px;
}
._content{
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
._content_grid3{
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
}

.classic-btn {
  padding: 14px 40px;
  border-radius: 30px;
  border: 1px solid rgb(0, 162, 255);


  background-color: rgb(0, 162, 255);
  color: white;
}

.classic-btn:hover {
  background-color: transparent;
  color: rgb(0, 162, 255);
}